.create-habit-popup{
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 100%;
    /*background: #E5EAD7;*/
    background: rgba(229, 234, 215, 0.9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    gap: 3vh;
}

.create-habit-button {
    color: #ffffff;
    background: #7D944D;
    border: 5px solid #E0E3CF;
    font-size: 10vh;
    font-weight: 600;
    border-radius: 500px;
    height: 14vh;
    width: 14vh;
}

.habit-input {
    width: 80vw;
    height: 10vw;
    border-radius: 6vw;
    border: 2px solid #9BB168;
    box-shadow: 0 0 0 3px #D3DBBB;
    outline: none;
    padding-left: 3vw;
}

.habit-input::placeholder {
    color: #9BB168;
    font-weight: 600;
}

p {
    margin: 0 0 -2vh 14vw;
    align-self: flex-start;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: #4F3422;
}

.repeat-row {
    width: 72vw;
    display: flex;
    gap: 8vw;
}

.input-number {
    width: 7vw;
    height: 7vw;
    border-radius: 1.8vw;
    border: 2px solid #9BB168;
    box-shadow: 0 0 0 3px #D3DBBB;
    outline: none;
    text-align: center;
    color: #9BB168;
    font-weight: 600;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.interval {
    width: 36vw;
    border-radius: 1.8vw;
    border: 2px solid #9BB168;
    box-shadow: 0 0 0 3px #D3DBBB;
    outline: none;
    padding: 1vw;
    color: #9BB168;
    font-weight: 600;
}

.option {
    background: #ffffff;
}

.add-habit-button {
    background: #4F3422;
    width: 46vw;
    height: 10vw;
    border-radius: 2vw;
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
