.modal {
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 100%;
    /*background: #E5EAD7;*/
    background: rgba(229, 234, 215, 0.9);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    gap: 3vh;
}
